{
    admin unix//run/caddy/admin.sock
    auto_https off
}

(tls_internal) {
    bind 10.1.2.4
    tls /certs/tls.crt /certs/tls.key
}

https://headlamp.k8s.yhzone.top {
    import tls_internal
    reverse_proxy headlamp.headlamp.svc.cluster.local:80
}

https://argocd.k8s.yhzone.top {
    import tls_internal
    reverse_proxy argocd-server.argocd.svc.cluster.local:80
}

https://harbor.yhzone.top {
    import tls_internal
    reverse_proxy harbor.harbor.svc.cluster.local:80
}
